[2018-08-11 04:27] KennethSweezy opened #2 "Create Homepage"

[2018-08-11 04:39] #2 closed

[2018-10-21 22:24] KennethSweezy opened #4 "Create Landing Page"
I am looking for someone who is skilled in web design to create a landing page for Gobo.cf in a similar format to that of the [About](https://gobo.cf/about/) page.

[2018-10-21 22:27] KennethSweezy opened #5 "Revamp README"
The README needs to be updated to make it look more appealing.

[2018-10-21 22:28] KennethSweezy opened #6 "Revamp CONTRIBUTING"
CONTRIBUTING.md needs to be revamped before release.

[2018-10-21 22:34] RJWadley commented on #4
Any particular content on the page? Probably the logo, the name, maybe a text box or a call to action button?

[2018-10-21 22:45] RJWadley opened #7 "Remove <center> elements"
The <center> element is obsolete. Although it may still work in some browsers, its use is discouraged since it could be removed at any time.

It should be replaced project-wide.

[2018-10-22 04:09] JoyBhalla commented on #4
What all do you need?

[2018-10-22 04:09] JoyBhalla commented on #4
What all do you need?

[2018-10-22 05:11] Thilagavathi1 commented on #7
@RJWadley , Shall i pick this issue?.

[2018-10-22 09:39] KennethSweezy commented on #4
@JoyBhalla The above comment by RJWadley has everything that I want.

[2018-10-22 10:03] KennethSweezy commented on #6
It looks like @RainbowLegend is working on this issue.

[2018-10-22 10:05] KennethSweezy commented on #7
@Thilagavathi1 You can take this one if you would like.

[2018-10-22 15:44] jokari commented on #7
Fixed in #8

[2018-10-22 16:16] KennethSweezy commented on #7
Did you add additional styling to keep the elements centered?

[2018-10-22 17:05] jokari commented on #7
@KennethSweezy done in another commit ;)

[2018-10-22 17:47] KennethSweezy commented on #7
Thanks for the contribution!

[2018-10-22 17:47] #7 closed

[2018-10-22 20:40] photonOne commented on #4
I can probably help [once github stops being weird](status.github.com). I'm not good with making stuff from scratch but i can help tweak it i guess?

[2018-10-23 16:13] codeKAMAT commented on #4
I will

[2018-10-23 19:13] DeleteThisAcount opened #13 "gobo is a copyrighted image"
be careful

[2018-10-23 19:15] DeleteThisAcount opened #14 "shorten URLs further"
get rid of having ?to=

convert base 10 project IDs to base 64

[2018-10-23 20:53] RainbowLegend commented on #14
We have issue templates for a reason: it would help if you better collected your thoughts in a format easy for you or to use our templates.

[2018-10-23 21:32] KennethSweezy commented on #13
I think it should be fine since this is open source and no money is being made.

[2018-10-23 21:34] KennethSweezy commented on #14
Please use one of the [templates](https://github.com/ScratchUtilities/gobo.cf/blob/master/.github/ISSUE_TEMPLATE) when submitting an issue.

[2018-10-23 21:34] #14 closed

[2018-10-23 21:36] KennethSweezy commented on #4
It seems as if several people are working on this. If everyone who is working on this one could disclose that here that would be good.

[2018-10-24 11:08] #13 closed

[2018-10-24 13:48] DeleteThisAcount opened #15 "shorten urls further"
**Is your feature request related to a problem? Please describe.**
URLS shortened with gobo.cf are too long to be called short.

**Describe the solution you'd like**
Convert base 10 project IDs into base 64 for example. And remove ?to=
Example
gobo.cf/p/MkN+L
instead of gobo.cf/p/?to=210821003

[2018-10-24 16:11] KennethSweezy commented on #15
Would you be willing to implement this feature?

[2018-10-25 01:23] keithieopia opened #16 "Contribution Guide Broken Link"
**Describe the bug**
The link to the contribution guide is broken and causes a 404 page not found error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the main [GitHub repository or README.md](https://github.com/ScratchUtilities/gobo.cf/blob/master/README.md)
2. Click on *See [the contribution guide](https://github.com/ScratchUtilities/gobo.cf/blob/master/docs/PULL_REQUEST_TEMPLATE.m

[2018-10-25 10:42] #16 closed

[2018-10-25 17:47] DeleteThisAcount commented on #15
no

[2018-10-27 13:44] KennethSweezy commented on #4
@codeKAMAT @callmeanto Any progress on this issue?

[2018-10-29 22:06] KennethSweezy commented on #15
I have decided to not use this suggestion, as to make this utility easier to use. (However, I did omit "?to=" as to shorten it a bit more)

[2018-10-29 22:06] #15 closed

[2018-10-29 22:14] KennethSweezy commented on #5
Things I wish to have included in the README: (For my personal reference)

- Project Logo (When we get one)
- Description from [About](https://gobo.cf/about) page.

[2018-10-30 19:00] appy9 commented on #5
#20

I tried to revamp it a bit, please check.

[2018-10-30 21:05] KennethSweezy commented on #5
Thanks @appy9 !

[2018-10-30 21:05] #5 closed

[2018-11-18 19:54] DeleteThisAcount commented on #4
i will do this

[2018-12-05 21:59] kerrtrvs opened #28 "Enable GitHub Pages SSL"
You should definitely enable GitHub Pages SSL in settings. 🔒

[2018-12-05 22:01] kerrtrvs commented on #28
Note: I didn't use the issue template as it's pretty self-explanatory.

[2018-12-13 14:38] KennethSweezy commented on #28
Thanks for the issue! I have now enabled HTTPS through GitHub pages, as well as routed it through Cloudflare to make the site faster and more secure.

[2018-12-13 14:38] #28 closed

[2018-12-22 16:21] KennethSweezy opened #30 "Add Favicon"
Add the Gobo logo as the Favicon of all pages on the site.

[2018-12-22 18:34] space-elephant opened #31 "input and output are hidden by nav bar"
When you go to the index.html of gobo.cf, the input field, convert button and output paragraph
are covered by the navigation bar.
If you open it in the inspector and delete the nav bar, it works perfectly. (except that there isn't a nav bar)
This could be fixed by adding two or three &lt;br&gt; tags after the nav bar but before the inputs.

Edit: changed code to use &amp;lt;br&amp;gt; and so show

[2018-12-26 21:14] KennethSweezy commented on #31
Thanks for bringing this to my attention, mind opening a PR with the changes since you seem to have a possible solution in mind.

[2018-12-26 21:30] KennethSweezy opened #32 "Create Promotional Material(s)"
The purpose of this issue is to request help from people who are better at design than me.

I am looking for someone to create some promotional materials for advertising Gobo.

Sizes that are definitely needed:
640x288 (For [MakerAds](https://makerads.xyz/)
250x250 (For Scratch Signatures)
125x125 (For Scratch Signatures)

Things to be included:
A picture of Gobo
"A Scratch URL Shortener" or somet

[2018-12-27 07:18] space-elephant commented on #31
<-1>
I can't use these acronyms, what's a PR?

[2018-12-27 18:49] KennethSweezy commented on #31
A PR is a pull request. I was asking if you could create a fork of this repository, make the changes you specified, then make a pull request to this repo so I can merge them to the main branch.

[2018-12-29 21:01] #31 closed

[2018-12-30 19:43] Andreto commented on #32
![gobo_poster](https://user-images.githubusercontent.com/28541538/50550584-86920680-0c73-11e9-8856-1051d49ab148.png)
Something like this?

[2019-01-01 15:59] KennethSweezy commented on #32
Yes! That is perfect!

[2019-01-01 16:11] KennethSweezy commented on #4
Thanks for completing this issue @Andreto!

[2019-01-01 16:11] #4 closed

[2019-01-10 18:44] Andreto commented on #30
Done

[2019-01-10 22:14] KennethSweezy commented on #30
Thanks! 🎊

[2019-01-10 22:14] #30 closed

[2019-01-12 03:05] KennethSweezy opened #40 "Update Contributor List"
Currently, only 6 of the 10 Contributors are listed on the "About" page.

### Steps to Complete:
1. Add the other 4 contributors
2. Link to their GitHub Profiles

[2019-01-12 08:23] Andreto opened #41 "Project Editor Links"
Currently, the project editor Links are not supported on either ends of the converter. From scratch Url to gobo Url you just get a normal project Url (Not intentional, but works well until we fixed it.) If u enter a /p/e# Url u get forwarded to some weird scratch Url. I suggest we first get the site to correctly forward the /p/e# links and then we can implement it in the Scratch to gobo Url Conver

[2019-01-14 18:27] space-elephant opened #42 "why is it .cf?"
What has gobo.**cf** to do with the central African republic? Was it just the cheapest domain?

[2019-01-15 15:58] KennethSweezy commented on #42
While .com would work, it does add an extra character to the URL, and it adds an extra character to everywhere the current "Gobo.cf" name is.

[2019-01-16 18:07] space-elephant commented on #42
In that case, there is nothing better than gobo.cf with the same length.

[2019-01-16 18:17] space-elephant commented on #41
I think that this was leftover from 2.0's editor form.
2.0:https://scratch.mit.edu/projects/<ID>/#editor
3.0:https://scratch.mit.edu/projects/editor/<ID>/

[2019-01-17 15:25] space-elephant commented on #42
go.bo also looks more like a link shortener (bit.ly, youtu.be). If you wanted to sow the relation to scratch, you could use scrat.ch, if you made it clear that is unofficial.

[2019-01-17 16:05] KennethSweezy commented on #42
Domains of that shortness tend to be very expensive, especially go.bo, it is only two characters and is very valuable.

[2019-01-17 18:33] Andreto commented on #41
I'm currently looking through the issue, but I wonder if we could use /e# instead of /p/e#. It would be easier to program and give shorter links.
@KennethSweezy

[2019-01-17 18:46] space-elephant commented on #42
I see. It is also easy to confuse with gob.bo

[2019-01-17 18:46] #42 closed

[2019-01-17 23:10] KennethSweezy commented on #41
That sounds good. 👍

On Thu, Jan 17, 2019, 1:33 PM Andreas Törnkvist <notifications@github.com
wrote:

[2019-01-18 02:53] KennethSweezy commented on #40
Thanks to @Andreto for completing this one!

[2019-01-18 02:53] #40 closed

[2019-01-18 03:13] KennethSweezy opened #43 "Far Future Plans (gobodb)"
I have now created a new repository under ScratchUtilities that will be the home of the gobodb project. You can see some of the ideas that I have had about gobodb [here](https://github.com/ScratchUtilities/gobo.cf/projects/4). Or, if you want to visit the new repository, it is [here](https://github.com/ScratchUtilities/gobodb).

I am not requesting any contributions for this one as this is more of

[2019-01-18 03:19] KennethSweezy opened #44 "Preview Page before Redirection"
**Is your feature request related to a problem? Please describe.**
It could be frustrating to click a Gobo link and it takes you to a completely different project/studio/discuss page than what someone has told you.

**Describe the solution you'd like**
An option to turn on a preview mode for the shortened link (maybe a checkbox if the user wants to enable a preview)
On this preview page, there cou

[2019-01-18 13:34] Andreto commented on #44
This would mean that we would have to use some kind of database and cookies to keep track of peoples settings.

[2019-01-18 13:54] Andreto commented on #41
Closed with [commit](https://github.com/ScratchUtilities/gobo.cf/commit/a31afeafdd76825500a371e2b87c091fc1faa2b7)

[2019-01-18 13:54] #41 closed

[2019-01-18 16:04] KennethSweezy commented on #44
Oh, I see what you mean. What I was talking about was having the option when shortening the link to click a checkbox if they wanted the link to have a preview. If this box was checked then it would give a different link than if it wasn't clicked. (Maybe a subdomain of gobo.cf [Possibly p.gobo.cf]) So for a project, say 266580105, instead of the link being "https://gobo.cf/p#i2xF7" it would be "htt

[2019-01-18 16:17] Andreto commented on #44
Oh, ye that would be totally doable.

[2019-01-29 15:42] space-elephant opened #45 "Inconsistant js indentation"
**Describe the bug**
Some .js files have two spaces of indentation and some have four.

**To Reproduce**
Steps to reproduce the behavior:
1. open the /files/ folder
2. open contribUsers.js Note the 2-space indentation
3. go back and open create.js This one has four-spaces

**Expected behavior**
I think that all files should use four-space indentation.

**Can you create a fix?**
Yes, get a indentat

[2019-01-29 17:12] Andreto commented on #45
The create.js and the use.js are not in use anymore. All the js files in use are written by me in the same program and all use 2-space indent. If someone wants to make all of them 4 space then that's fine for me. Also, maybe we should delete the create.js and the use.js science their not in use.

[2019-01-29 17:16] space-elephant commented on #45
Ok, how do I delete a file?

[2019-01-29 17:37] Andreto commented on #45
The trash can icon next to the "Edit this file" button.

[2019-01-31 12:16] #45 closed

[2019-02-07 00:27] IamTregsthedev opened #46 "Let me help"
I can help with this. I'm a Front end Devloper and Marketer

[2019-02-12 11:47] KennethSweezy commented on #46
Sure you can help! Just find something you wish to improve, or if you would like to be directed to do something, I would prefer you to work on [gobodb](https://github.com/ScratchUtilities/gobodb).

[2019-02-12 11:49] KennethSweezy commented on #46
Or [gobo.chrome](https://github.com/ScratchUtilities/gobo.chrome)!

[2019-02-13 00:21] IamTregsthedev commented on #46
Can I Be invited to the org?

[2019-02-13 02:11] KennethSweezy commented on #46
Done!

[2019-02-13 02:11] #46 closed

[2019-02-13 03:13] IamTregsthedev commented on #43
Comment Bots aren't  allowed on scratch

[2019-02-13 03:45] KennethSweezy commented on #43
Well then, we could just "manually" do it with the help of a script.

On Tue, Feb 12, 2019, 10:13 PM Arav Narula <notifications@github.com> wrote:

[2019-02-13 14:17] IamTregsthedev commented on #43
I guess so.

[2019-02-13 15:44] IamTregsthedev commented on #40
I need by Name to be on it to

[2019-02-13 16:01] Andreto commented on #40
@IamTregsthedev Done. Just need to wait and see if the site updates. You are a front end guy right?

[2019-02-13 16:24] IamTregsthedev commented on #40
@Andreto  Yup. I was just having a bit of trouble. I Just Woke up around that time, And I was a bit confused.

[2019-02-13 16:26] KennethSweezy commented on #40
Site is updated, the logo is just a bit big. @Andreto

[2019-02-13 16:29] Andreto commented on #40
Bigger than, yours and mine?

[2019-02-13 16:30] Andreto commented on #40
Oh, I think I know why it looks so weird, I put him at the end right?

[2019-02-13 16:37] KennethSweezy commented on #40
Looks like that could be the reason.

On Wed, Feb 13, 2019, 11:30 AM Andreas Törnkvist <notifications@github.com>
wrote:

[2019-02-13 16:40] IamTregsthedev commented on #44
Sorry, But the About page isn't working

[2019-02-13 16:42] KennethSweezy commented on #44
Is something broken in it or is it not loading at all?

On Wed, Feb 13, 2019, 11:40 AM Arav Narula <notifications@github.com> wrote:

[2019-02-13 17:23] IamTregsthedev commented on #44
Not loading. I'll check it out

[2019-02-14 18:58] KennethSweezy opened #47 "Internationalize"
I would like to make gobo.cf for international friendly by adding support for other languages.

I plan to set up a Transifex project to assist with this.

[Ideas](https://www.experts-exchange.com/viewCodeSnippet.jsp?codeSnippetId=20-39920523-1)

[2019-02-15 19:28] KennethSweezy opened #48 "Recent update causes home page to not work"
@space-elephant The recent update you made caused everything to break. Nothing works now, the redirection, the converter on the home page, none of it.

[2019-02-16 06:21] space-elephant commented on #48
https://gobo.cf/#p827
https://gobo.cf/#e827
https://gobo.cf/#uspace_elephant
https://gobo.cf/#s74
https://gobo.cf/#d98f

Also, there should be some way to shorten posts (https:<id>//scratch.mit.edu/discuss/post/&lt;id&gt;/)

[2019-02-16 07:40] space-elephant commented on #48
fixed.

[2019-02-16 07:40] #48 closed

[2019-02-18 08:30] jamesbmadden opened #49 "More Performant Animation of the Landing Page"
Currently, the animation of the landing page is done by running a callback every two milliseconds. The way the animations isn't very performant, especially on lower-power devices, because 1) It forces the browser to rerender and relayout the page every 2 milliseconds, and 2) it does animation work that the browser already has more efficient solutions for.

Using CSS Transitions with CSS Transforms

[2019-02-18 16:17] space-elephant commented on #49
Looks good, and much better, but maybe slow it down a little?

The background image does not appear because it uses a / at the start of its URL, rather than a ./, like all the other files.
I made a mistake then: originally all the files used / and I changed it so it would work on file:///home/russell/Documents/russell/gobo.cf

[2019-02-18 19:14] jamesbmadden commented on #49
Okay, I slowed down the animations. I'll open the pull request now.

[2019-02-18 23:52] jamesbmadden commented on #49
I set Gobo's Position back to where it should have been.

[2019-02-19 08:14] space-elephant commented on #49
Both are good. Merging./.

[2019-02-19 08:20] space-elephant commented on #49
merged.

[2019-02-19 08:20] #49 closed

[2019-02-21 00:05] jamesbmadden opened #51 "Setting Display: None Breaks the Animation"
A recent commit added styles to hide the converter page with ```display: none``` until the button is pressed. The issue is that the browser (tested in the latest versions of desktop Firefox, Chrome, and Safari) no longer animates the entrance. I'm assuming it's because it doesn't have a frame to animate from, so it just appears. Removing the ```display: none``` style fixes the issue.

**To Reprodu

[2019-02-21 08:58] Andreto commented on #51
I now used "visibility: hidden;" instead. This should fix the issue.

[2019-02-22 00:07] KennethSweezy commented on #51
Has this issue been resolved? If so please close the issue.

[2019-02-22 00:07] jamesbmadden commented on #51
Sorry, yes, I'll close it now

[2019-02-22 00:07] #51 closed

[2019-02-22 00:14] #47 closed

[2019-02-22 00:26] KennethSweezy opened #53 "Help Out with Translation"
We are currently looking for several multilingual individuals who would be willing to help us out by translating Gobo.cf

Current Languages we would like to translate into:
- Spanish
- French
- Chinese

If you have any suggestions of other languages for the project translated into please suggest them here.

Languages Currently Translated:
- French (Thanks @locness3 )
- Swedish (Thanks @Andreto )
-

[2019-02-23 03:24] KennethSweezy opened #54 "Placement of Maker Ad(s)"
Currently, we have an ad on [MakerAds](https://makerads.xyz/) created for #32.

I feel that since we have an ad on MakerAds we should include a MakerAd somewhere on the Gobo.cf site.

Where should we place it? Or should we have one at all?

[2019-03-02 16:55] Andreto commented on #32
@KennethSweezy When are we going to make the official release and what promotional material do we need for it?

[2019-03-03 01:20] IamTregsthedev commented on #32
Yeah, I can get this on Prouducthunt. I'm adding it as a prouduct right now, so if you can give me your twitter ign's or make  an acc there. It's a place where makers and people Pubilsh Prouducts.

I'm making one right now btw, gonna make one soon

[2019-03-03 01:20] IamTregsthedev commented on #54
We should have one for sure. It should be in the footer

`<footer>
insert makersads
</footer>`

[2019-03-03 08:54] locness3 commented on #53
Would love to contribute for French!

[2019-03-03 18:52] space-elephant opened #55 "Faster redirects"
**Is your feature request related to a problem? Please describe.**
Redirect links always load all the stylesheets before redirecting

**Describe the solution you'd like**
I would like to replace the `#` with a `/`, and then use a 404.html for redirects. Invalid ones would show the default 404.

**Describe alternatives you've considered**
The homepage could be at homepage.html and the javascript at

[2019-03-04 09:32] Andreto commented on #55
I think that we should move the homepage to a different folder and have the main index.html blank from elements and styling. That way we don't lock up the 404 pages and we can keep the same code as before. We can have blank and invalid hashes redirect to the home page.

[2019-03-04 14:27] KennethSweezy commented on #53
@locness3 Alright, can you send me your email address so I can invite you to the Transifex project?

[2019-03-04 14:35] KennethSweezy commented on #32
@IamTregsthedev I appreciate all of the help you have provided already, however, I would prefer that I create the ProductHunt page since I am the founder of the project.

[2019-03-04 14:59] locness3 commented on #53
Can't you add me with my Transifex username (locness3) ?

[2019-03-04 17:48] space-elephant commented on #55
OK. Should I put the new homepage at
/homepage.html or /homepage or /homepage/index.html (/homepage/)

[2019-03-04 19:35] Andreto commented on #55
I think we should make it `/home/index.html`, the URL looks best that way.

[2019-03-04 22:37] KennethSweezy commented on #53
Sorry, didn't know you already had an account!

I have invited you to the Transifex project.

[2019-03-05 01:56] IamTregsthedev commented on #32
Sure. Just make sure to add all members, like me as makers.

[2019-03-05 02:38] KennethSweezy commented on #44
I have found a way to get the link of the thumbnail.

[Scratch Wiki](https://en.scratch-wiki.info/wiki/Scratch_API_(2.0)#GET_.2Fproject.2F.3Cproject_id.3E.2F)

This would allow us to begin work on this portion of the project.

[2019-03-05 12:06] #55 closed

[2019-03-06 02:17] KennethSweezy commented on #32
@Andreto I think I am going to schedule the release for April 1st, 2019. This would allow us to do any extra changes that are needed as well as work out any bugs.

[2019-03-06 02:51] KennethSweezy commented on #32
Also, if anyone would like to see the stats of our ad you can look [here](https://makerads.xyz/stats/ads/?id=5c2e927945d097571a8043df).

[2019-03-06 03:19] KennethSweezy commented on #53
@locness3 Thank you for the French Translations! Do you know anyone else who could possibly help out with the translations? (Including Languages currently not listed)

[2019-03-06 05:48] Andreto commented on #32
@KennethSweezy Maybe we should make it April 3rd or something, April 1st is not really a trustworthy day on the internet.

[2019-03-06 06:53] locness3 commented on #53
Nope

[2019-03-06 06:56] locness3 commented on #53
Please use my suggestion for the homepage text, since I figured that the original takes too much space with the line break

[2019-03-06 06:59] locness3 commented on #53
Please use my translations suggestions, strings you submitted aren't correct.

[2019-03-06 11:57] space-elephant commented on #44
for projects, add "api." to the beginning of the domain name (https://api.scratch.mit.edu/projects/279457375)
for studios, https://scratch.mit.edu/site-api/projects/in/5081005/1/, but with a request to the actual studio page as well for the title
for users, again add "api." (https://api.scratch.mit.edu/users/space_elephant)
for topics and posts, the data is in the HTML.

[2019-03-06 12:00] space-elephant commented on #44
Also, we can use cookies to store preview state.

[2019-03-06 12:32] KennethSweezy commented on #53
Ok, I apologize. Which ones need fixing?

[2019-03-06 12:34] locness3 commented on #53
You should check all

[2019-03-06 23:33] IamTregsthedev commented on #32
@Andreto  @KennethSweezy  I agree, April 3rd or April 6th would be good dates. It's best to launch a product on a Saturday (april 6th).

[2019-03-07 00:07] KennethSweezy commented on #32
@Andreto Yea, I totally agree. I just wanted to give a rough estimate of when I would like to publish.

@IamTregsthedev Not trying to discredit what you say, but it appears that it is [best to launch during the early morning hours of Sunday](https://thenextweb.com/insider/2018/01/19/much-needed-research-shows-effectively-launch-product-product-hunt/).

Also according to [the article](https://thene

[2019-03-07 00:10] KennethSweezy opened #56 "Launch Preperation"
# TARGET PUBLISH DATE IS APRIL 7TH, 2019

This issue is for everything related to the Launch of Gobo.cf on ProductHunt and any other platforms we wish to publish it on. (All comments relating to PH from #32 please move your discussion to this issue.)

**Publishing Platforms:**
- ProductHunt
- Scratch Forums
- Suggest others.

[2019-03-07 00:17] KennethSweezy commented on #43
Gonna close this since it seems to be inactive. If someone is doing development on this feature feel free to reopen it.

[2019-03-07 00:17] #43 closed

[2019-03-07 03:23] IamTregsthedev commented on #32
My is Tregsthedev

[2019-03-07 03:24] IamTregsthedev commented on #56
Social media.

I'll do it on my twitter, and we can make a twitter which all team members can acces

[2019-03-07 06:17] Andreto commented on #32
Bb code snippet for forum signatures:
`[center][url=https://gobo.cf/][img]https://u.cubeupload.com/andreto/goboposter1200x300.png[/img][/url][/center]`

![goboforummockup](https://user-images.githubusercontent.com/28541538/53936075-f7f19980-40a8-11e9-9324-a66c65a56c72.PNG)

[2019-03-07 07:09] Andreto commented on #56
My ProductHunt username is @andreto

[2019-03-07 11:36] KennethSweezy commented on #32
@Andreto True, I just wanted to give a rough estimate of when we should release.

@IamTregsthedev Well, from what I see [it is best to launch in the early morning on Sunday](https://thenextweb.com/insider/2018/01/19/much-needed-research-shows-effectively-launch-product-product-hunt/).

But anyways, I will draft a ProductHunt description and tagline.

[2019-03-07 11:49] KennethSweezy commented on #56
@IamTregsthedev Sounds good!

@Andreto I will be sure to add you when I create the post.

@keithieopia
@ncomendant
@space-elephant
@chexbox
@jamesbmadden
@appy9
@Avantika-Didroy
@RainbowLegend
Please send me your Product Hunt Username so I can tag you as makers on the Product Page!

[2019-03-07 17:16] Andreto commented on #53
@KennethSweezy I could translate it to Swedish/Svenska if u want.

[2019-03-07 18:43] KennethSweezy commented on #53
Alright, ill set up Swedish on Transifex.

On Thu, Mar 7, 2019, 12:16 PM Andreas Törnkvist <notifications@github.com>
wrote:

[2019-03-07 18:59] Andreto commented on #53
@KennethSweezy how do I access the Transifex Project?

[2019-03-07 20:06] IamTregsthedev commented on #56
You should only put Members of the Org. But, It's alright :)!

I'll get Started making an acc for ScratchUtlites.

I have something called prixy. It show's the scratch front page, Can I transfer it here? It would still be owned by me and my startup Moo. But it's a Scratch utillte

[2019-03-07 22:54] KennethSweezy commented on #53
It will be much easier if you make an account and then tell me your
username. This will allow me to invite you directly to the project.

On Thu, Mar 7, 2019, 1:59 PM Andreas Törnkvist <notifications@github.com>
wrote:

[2019-03-07 22:56] KennethSweezy commented on #56
Yeah, go ahead and transfer it.

On Thu, Mar 7, 2019, 3:06 PM Arav Narula <notifications@github.com> wrote:

[2019-03-08 00:22] IamTregsthedev commented on #56
Can you give everyone push access to it, expect me?

[2019-03-08 00:23] IamTregsthedev commented on #56
Actully nvm. I wouldn't be able to control the settings of the repo, so there's no reason to do so

[2019-03-08 05:56] Andreto commented on #53
I made a Transifex account with the username **Andreto**.

[2019-03-08 07:59] Andreto commented on #44
@space-elephant The current version works well but maybe we should probably make it off as standard, put a beta tag next to it and move it to the edge until it's styled and finished.

[2019-03-08 12:42] KennethSweezy commented on #53
@Andreto
I invited you to the Transifex project.

[2019-03-08 13:42] M-S-72 commented on #53
I can translate to German.

[2019-03-08 13:53] Andreto commented on #53
@M-S-72 We are using [Transifex](https://www.transifex.com) for translations. If you already have a Transifex account you can just send your username and we will add you. If u don't, the best thing would be if you make one and then send the username.

[2019-03-08 13:57] M-S-72 commented on #53
@Andreto My Transifex username is M_S_72.

[2019-03-08 14:03] Andreto commented on #53
@M-S-72 I'm not able to add people to the project but I will pass on the information to @KennethSweezy and he will add you as soon as he is online.

[2019-03-08 15:35] KennethSweezy commented on #53
@M-S-72 I just invited you to the project.

@Andreto Did you receive the invite to the project?

[2019-03-08 15:51] Andreto commented on #53
@KennethSweezy Yes I did, and I finished the Swedish translation.

[2019-03-08 15:54] KennethSweezy commented on #53
@Andreto Thank you for the translation. I have made your translations live and they should be appearing on the site soon!

[2019-03-08 15:55] KennethSweezy commented on #53
@Andreto Could you add @M-S-72 to the contributor list on the About page since they are translating into German?

[2019-03-08 16:00] Andreto commented on #53
@KennethSweezy I'm adding **M. S.** and **locness**.

[2019-03-08 16:06] locness3 commented on #53
@KennethSweezy Please accept my suggestion for the homepage "Url shortener for Scratch projects...", as it actually takes too much space on screen.
Also, please accept my suggestion for the "Enter URL"

[2019-03-08 16:11] Andreto commented on #53
@locness3 I don't really think that it matters if the text takes a bit more space then on the English version. The information is more important in that case. And we have space to take from, at least on normal sized screens.

[2019-03-08 16:12] locness3 commented on #53
Ok. But the Enter URL current translation isn't correct.

[2019-03-08 16:13] KennethSweezy commented on #53
@locness3 Transifex isn't showing me your updated translation. Could you just tell me what it needs to be here? I will manually override the current one.

[2019-03-08 16:15] locness3 commented on #53
"Entrer une URL"

[2019-03-08 16:23] KennethSweezy commented on #53
@locness3 Alright, it has been updated.

@Andreto Can you translate: "Preview links I click on" into Swedish, it is showing that it hasn't been translated.

[2019-03-08 16:28] locness3 commented on #53
But, you do use a Transifex paid plan ? @KennethSweezy

[2019-03-08 16:30] KennethSweezy commented on #53
@locness3 Technically yes, I am using the plan provided by the [GitHub Education Pack](https://education.github.com/pack/offers).

[2019-03-08 16:31] Andreto commented on #53
@KennethSweezy Fixed, it was not there when I translated the rest.

[2019-03-08 16:32] locness3 commented on #53
Argh, I need to wait to be 13 just to make a Transifex live project....

[2019-03-08 16:40] locness3 commented on #53
Just saw this was only one year of Transifex included in student pack. What will you do when it will expire @KennethSweezy ?

[2019-03-08 16:42] Andreto commented on #53
A bigger issue, what do we do when the gobo.cf domain expires? Or have you paid for it @KennethSweezy ?

[2019-03-08 16:52] locness3 commented on #53
@Andreto Doing a whois, the domain name is apparently registered on www.dot.cf, which seems to be partnered with freenom, and offers free .cf domains

[2019-03-08 16:52] locness3 commented on #53
@Andreto Just type gobo.cf on https://whois.net/

[2019-03-08 17:09] Andreto commented on #53
Free Freenom domains only last one year. When the domain expires it gets a new price (often not free) calculated by the website's traffic during the free year. So if gobo.cf is successful witch I hope it gets, the domain will be more expensive to keep.

[2019-03-08 17:14] locness3 commented on #53
@KennethSweezy

[2019-03-08 18:21] KennethSweezy commented on #53
@locness3 Hopefully Transifex will continue to be a partner with GitHub Education Pack and I can continue to use it for free.

@Andreto Currently, I am only using a free .cf domain, but I am looking at purchasing a similar domain name from a proper registrar.

[2019-03-09 07:19] locness3 commented on #53
I mean they will still be partners, and the offer will still exist, but it is limited to one year.

[2019-03-09 07:27] locness3 opened #58 "Put my website link in contributors"
**Is your feature request related to a problem? Please describe.**
The link of my profile pic in the Contributors page points to my Github profile.

**Describe the solution you'd like**
I would like it to link to my website, `https://locness3.github.io`.

[2019-03-09 18:57] Andreto commented on #58
Fixed [c6d76ea](https://github.com/ScratchUtilities/gobo.cf/commit/c6d76ea7adf619a3cb29399f3ed6c15c73ff1733)

[2019-03-09 18:57] #58 closed

[2019-03-09 19:06] locness3 commented on #58
@Andreto  You could the inverse (putting Fixes #58 in commit message)

[2019-03-10 05:42] space-elephant commented on #56
I will sign up if you tell me what ProductHunt.Com is meant to be. (It doesn't work  for me.)

[2019-03-10 05:45] space-elephant commented on #56
I will sign up if you tell me what ProductHunt.Com is meant to be. (It doesn't work  for me.)

[2019-03-10 05:52] space-elephant commented on #44
The current version works for all except discuss. I need an HTML parser for that. I am using DOM.
Also, do you know how to make the checkbox style correctly?
I tried to copy if for [ScratchUtilities/gobo-serverside/files/index.html](https://github.com/ScratchUtilities/gobo-serverside/blob/master/files/index.html) with submit buttons unsuccessfully.

[2019-03-10 15:13] IamTregsthedev commented on #56
It's a website where people launch products such as robots and web apps.

[2019-03-10 18:45] space-elephant commented on #56
@space_elephant

[2019-03-11 14:26] KennethSweezy commented on #44
Glad to see this feature is working! Although, I do think it could use a "Continue to {project/project editor/user/studio/discuss page}" button instead of just having the link at the top of the page.

[2019-03-11 15:17] space-elephant commented on #44
https://github.com/ScratchUtilities/gobo.cf/issues/44#issuecomment-471560519 but then where can I show the link?

[2019-03-11 15:21] Andreto commented on #44
@space-elephant @KennethSweezy Maybe we can just change the innerHTML of the link to be "Continue to link" or something. Maybe we can also have a small link with the address at the bottom.

[2019-03-11 15:26] KennethSweezy commented on #44
@space-elephant I don't think that it is completely necessary if we have a button.

[2019-03-11 18:46] space-elephant commented on #44
https://github.com/ScratchUtilities/gobo.cf/issues/44#issuecomment-471249657 or https://github.com/ScratchUtilities/gobo.cf/issues/44#issuecomment-471582746?

[2019-03-13 11:10] space-elephant commented on #53
*Technically* possible as free, with g.py.gl. (same length as gobo.cf)
It probably makes more sense to buy a proper domain name. (possibly with de)

[2019-03-13 11:40] space-elephant commented on #53
*Technically* possible as free, with g.py.gl. (same length as gobo.cf)
It probably makes more sense to buy a proper domain name. (possibly with de)

[2019-03-13 15:50] space-elephant commented on #53
@KennethSweezy I am on transifex as rfmorland@gmail.com

[2019-03-13 17:39] space-elephant commented on #53
@KennethSweezy I am on transifex as space_elephant(rfmorland@gmail.com)

[2019-03-13 18:37] space-elephant commented on #53
@KennethSweezy I am on transifex as space_elephant(rfmorland@gmail.com)

[2019-03-13 18:38] space-elephant commented on #53
Can I add a JavaScript file to use google translate in the case that there is nothing better?

[2019-03-14 18:52] space-elephant commented on #53
What are the 1 and 1 about?

[2019-03-14 19:23] KennethSweezy commented on #53
Google Translate is notoriously bad with accurate translations. Trust me, at one point I thought about including Google Translate but then did some research and it turns out it isn't good for accurately translating entire webpages.

[2019-03-14 19:25] KennethSweezy commented on #53
@space-elephant What language would you like to translate the site into? I need to specify a language before I invite you.

[2019-03-15 09:29] space-elephant commented on #53
I mean for languages not in range of live.js, Writing a script for this purpose (does not enter images of iframes)

[2019-03-19 17:32] Andreto opened #59 "Set standard for how we write paths."
At most places in the project the HTML path's start with `../` to refer to the file. Is there any special reason for this, because if it isn't I would recommend that we start using just `/`. This way we refer to it with full path and we can have the same path regardless of where in the filesystem we are using it. @space-elephant

[2019-03-19 17:37] space-elephant commented on #59
I personally like fully relative paths because they will work in https://space-elephant.github.io/gobo.cf/ and file:///home/russell/Documents/russell/gobo.cf

[2019-03-19 17:56] Andreto commented on #59
Ok. I use Atom and live-server-package to test the site. That way it behaves just like on the real page.

[2019-03-19 19:04] space-elephant opened #60 "No scroll bars"
**Describe the bug*
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://gobo.cf/home/ (http://gobo.cf)
2. Look at bottom of screen
4. See shorten URL and preview links I click on overlaping
4. Look at the right of screen
5. see no scroll bar

**Expected behavior**
The page should appear the same, with the nav bar fixed to the top,

[2019-03-20 09:17] Andreto commented on #60
I will take a look at it, I get back to you.

[2019-03-20 11:30] Andreto commented on #60
I have now added a media query that changes up the layout a bit for smaller screens.
[#75280d7](https://github.com/ScratchUtilities/gobo.cf/commit/75280d78ccaa11a19aaac9d5a1cdfa58ecaa3a88)

[2019-03-20 11:52] #60 closed

[2019-03-20 15:18] #59 closed

[2019-03-21 11:03] Smilingouido commented on #53
I can help with german!

[2019-03-21 11:26] KennethSweezy commented on #53
@Smilingouido Alright! What is your Transifex username?

[2019-03-21 22:09] chexbox opened #61 "page for license/privacy notice"
I think it would be beneficial to have a page for the license and privacy notice. I started a branch for a page. I based it off the 'about' page, but it still needs a lot of work.

I started by adding the license title and a link. I also mentioned that we don't actually own Gobo (that should be fairly obvious to users of scratch).

Any thoughts or suggestions?

[2019-03-22 12:26] Smilingouido commented on #53
I don't have this.

[2019-03-22 15:19] space-elephant commented on #61
https://gobo.cf/LICENSE

[2019-03-22 16:48] locness3 commented on #53
Transifex is the localization platform that uses gobo.cf

[2019-03-24 18:30] #61 closed

[2019-03-25 10:46] KennethSweezy commented on #53
@Smilingouido Don't worry, you can create an account for free, once you have done this just send your Username.

[2019-03-27 01:13] KennethSweezy opened #62 "Swap Placement of Gobo and Scratchcat"
Currently, above the shorten URL button, it shows the following:
![Screenshot 2019-03-26 at 9 09 43 PM](https://user-images.githubusercontent.com/33377824/55043235-af742e80-500b-11e9-8caf-867f3febd1cb.png)
However, I believe that it would be better if the Scratchcat was first and then Gobo was second. This would show that you are converting Scratch URL's into Gobo URL's.

What are your thoughts on

[2019-03-28 10:03] Andreto commented on #62
I thought of this when I made it but I didn't bother to change the SVG file before testing it. I also think it makes more sense the other way around on this page so I will fix it.

[2019-03-28 15:57] Andreto commented on #62
[155eb56](https://github.com/ScratchUtilities/gobo.cf/commit/155eb561bf9f0754049801af94b333a550eb8883)

[2019-03-28 15:57] #62 closed

[2019-03-29 23:38] IamTregsthedev commented on #56
Hey @KennethSweezy, T-minus 6 days till launch! Any plans?

[2019-03-30 00:42] KennethSweezy commented on #56
Finishing up on the release notes for all of the platforms we are
advertising on. (ProductHunt, Scratch Forums, etc)

On Fri, Mar 29, 2019, 7:38 PM Arav Narula <notifications@github.com> wrote:

[2019-04-02 20:09] keithieopia commented on #56
[@keithieopia](https://www.producthunt.com/@keithieopia)

[2019-04-03 23:03] IamTregsthedev commented on #56
Can we Launch April 5th?

[2019-04-03 23:53] KennethSweezy commented on #56
Is there any reason why the 5th is better than the 7th?

On Wed, Apr 3, 2019, 7:03 PM Arav Narula <notifications@github.com> wrote:

[2019-04-04 01:38] IamTregsthedev commented on #56
Not really. A friday would be much better to Launch a product in my Book. The best time to launch at 12am SF(Product Hunt Time).

[2019-04-05 13:01] Andreto commented on #56
@KennethSweezy Do you have all the assets that you need for the launch or do you need any additional graphics or promotional materials.

[2019-04-05 13:38] KennethSweezy commented on #56
I do need some graphics as well as screenshots. The graphics I would like
one of them to be an image with the basic description of what gobo.cf is.

On Fri, Apr 5, 2019, 9:01 AM Andreas Törnkvist <notifications@github.com>
wrote:

[2019-04-05 14:53] IamTregsthedev commented on #56
I can take screenshots. I| get this done

[2019-04-05 15:00] KennethSweezy commented on #54
@Andreto @IamTregsthedev So, currently I think the best options are either between the one-liner and the "Contributors" header. Or, beneath all of the contributors.

I would like to finish this up before release.

[2019-04-05 15:06] KennethSweezy commented on #53
@locness3 There is currently an untranslated string: "Preview links I click on"

Do you mind translating this to French?

[2019-04-05 15:12] Smilingouido commented on #53
Okay, I'll do.

[2019-04-05 15:16] Smilingouido commented on #53
My username is: Smilingouido

[2019-04-05 15:18] KennethSweezy commented on #53
@Smilingouido Alright, I have accepted your join request.

[2019-04-05 15:23] Smilingouido commented on #53
Okay, thank you.

[2019-04-05 15:25] Andreto commented on #54
Maybe Just in the top corner for the about page.
![Skärmklipp](https://user-images.githubusercontent.com/28541538/55638499-9e73ac00-57c7-11e9-9792-feae5e82fbd4.PNG)
Are we going to have an ad on the main page too?

[2019-04-05 15:29] KennethSweezy commented on #54
I say the corner on the About page is good. No ad on the home page.

[2019-04-05 15:46] Andreto commented on #54
Ok, il make a commit.

[2019-04-05 15:59] Andreto commented on #54
[makerAd on about-page](https://github.com/ScratchUtilities/gobo.cf/commit/04ad06fe968d6fb6718da757821f0034334300e8)

[2019-04-07 01:25] IamTregsthedev commented on #56
![lpmagcflph](https://user-images.githubusercontent.com/21000033/55677254-8d539980-58b2-11e9-81a6-655a498e95c6.png)
![phgoboml](https://user-images.githubusercontent.com/21000033/55677255-8dec3000-58b2-11e9-8fff-78660a3557b6.png)

[2019-04-07 01:52] KennethSweezy commented on #56
Ok, @Andreto do you think you could very quickly make a 240x240 image that
represents Gobo? If so please do.

On Sat, Apr 6, 2019, 9:25 PM Arav Narula <notifications@github.com> wrote:

[2019-04-07 02:06] IamTregsthedev commented on #56
Hey @KennethSweezy

12 PST would be the best time to launch. @KennethSweezy  Is The screenshots fine?

[2019-04-07 02:09] KennethSweezy commented on #56
Yes, those screenshots are good.

On Sat, Apr 6, 2019, 10:06 PM Arav Narula <notifications@github.com> wrote:

[2019-04-07 02:32] IamTregsthedev commented on #56
k

[2019-04-07 02:33] IamTregsthedev opened #63 "k"
k

_Originally posted by @IamTregsthedev in https://github.com/ScratchUtilities/gobo.cf/issues/56#issuecomment-480553485_

[2019-04-07 02:33] #63 closed

[2019-04-07 05:12] appy9 commented on #56
@appy9

On Thu, 7 Mar, 2019, 5:19 PM Kenneth Blake Sweezy, <notifications@github.com>
wrote:

[2019-04-07 05:39] Andreto commented on #56
@KennethSweezy Made this is it good? Also, have a look around in my gobo.cf design folder to see if you find something you need. https://1drv.ms/f/s!Ao2pUhGGTP094GhLE30E2njNoHt9
![goboicon](https://user-images.githubusercontent.com/28541538/55679209-e00b7080-5907-11e9-862f-e5c5dd71c058.png)

[2019-04-07 14:02] IamTregsthedev commented on #56
you haven't launched yet?

[2019-04-07 18:44] KennethSweezy commented on #54
@Andreto Looks good!

[2019-04-07 18:44] #54 closed

[2019-04-07 18:46] KennethSweezy commented on #44
I am gonna close this since we currently have a solution built in. Feel free to re-open it.

[2019-04-07 18:46] KennethSweezy commented on #56
Sorry about not launching, I am really sick at the moment. We will launch next week.

@Andreto That icon looks great!

[2019-04-07 22:11] IamTregsthedev commented on #56
No Promblem. Health is more important

[2019-04-10 01:31] KennethSweezy commented on #44
@Andreto @space-elephant I found [this](https://dailyhack.xyz/post/screenshot-tool-by-zeit-return-screenshoot-by-url-24) and thought it might work well for the discussion, studio, and user pages.

[2019-04-10 12:09] space-elephant commented on #44
why not just use https://cors-anywhere.herokuapp.com/ and get the page, and then have html and not png?

[2019-04-10 14:19] KennethSweezy commented on #44
If you think that is doable then I see no reason why couldn't do it that way.

[2019-04-14 03:27] KennethSweezy commented on #56
@appy9 @keithieopia @space-elephant @Andreto
I have scheduled the release for tomorrow morning at 12:01 AM.
**[ProductHunt](https://www.producthunt.com/posts/gobo-cf)**

[2019-04-14 03:42] IamTregsthedev commented on #56
@KennethSweezy  I not in there ...

[2019-04-14 03:43] IamTregsthedev commented on #56
PLEASE @KennethSweezy  fix this, there is less than 10 minutes till launch

[2019-04-14 03:49] IamTregsthedev commented on #56
I'm getting us some Upvotes

[2019-04-14 03:49] KennethSweezy commented on #56
@IamTregsthedev What is your ProductHunt Username?

[2019-04-14 03:51] IamTregsthedev commented on #56
Tregsthedev

[2019-04-14 03:52] KennethSweezy commented on #56
@IamTregsthedev Ok, Updated. Sorry for the inconvenience.

[2019-04-14 03:52] IamTregsthedev commented on #56
No promblem, Sorry for my behevior

[2019-04-14 04:03] IamTregsthedev commented on #56
We've Lauched: https://www.producthunt.com/newest

[2019-04-14 04:09] IamTregsthedev commented on #56
We should switch to glicth, It has Link Tracking and Customs too. Gonna transfer and see if it supports

[2019-04-14 04:11] KennethSweezy commented on #56
@IamTregsthedev As much as I think this would be a good idea, we should wait before we test it. You know, since we literally launched like 10 mins ago....

[2019-04-14 04:13] #56 closed

[2019-04-14 04:14] KennethSweezy commented on #56
I archived this to keep it as the history of the launch.

[2019-04-14 04:15] IamTregsthedev commented on #56
Yes, Sorry. I think it would be nice to Support custom links :).

[2019-04-16 13:37] M-S-72 opened #64 "„Preview links I click on“ in German is not completely shown on my mobile"
**Describe the bug**
When I use Gobo.cf on my iPhone in German, the „Preview links I click on“ („Link-Vorschau anzeigen“) box is not completely visible.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to gobo.cf on a mobile
2. Use German

**Expected behavior**
You can see the „Preview links I click on“ („Link-Vorschau anzeigen“) box correctly.

**Screenshots**
![166AEE3C-B9CA-4852-ABA6-75

[2019-04-16 19:21] Andreto opened #65 "Mobile Compatibility"
This issue is for discussions and progress on **making a gobo.cf mobile compatible**. This has been a long time coming, but I got reminded of it with #64. I will self asign myself and start working on it in the near future.

[2019-04-16 19:23] Andreto commented on #64
The rot of this is a bigger problem, so I will close this and move the discussion to #65.

[2019-04-16 19:23] #64 closed

[2019-04-16 20:21] Andreto commented on #65
https://github.com/ScratchUtilities/gobo.cf/commit/203401a6cece8e36da5e0d716c3da4e4536c860e
Started working on it.

[2019-04-17 12:18] Andreto commented on #65
https://github.com/ScratchUtilities/gobo.cf/commit/8f2d197a4232666ecb6b4feb23fc67f145288a7c

[2019-04-17 20:46] M-S-72 commented on #53
In 478b231, "Shorted Url" was changed to "Shortened Url", but on Transifex it is still "Shorted Url".

[2019-04-17 20:47] KennethSweezy commented on #53
I will update that right away.

On Wed, Apr 17, 2019, 4:46 PM M. S. <notifications@github.com> wrote:

[2019-04-19 14:33] Andreto commented on #56
@KennethSweezy Have we advertised it on the scratch forums?

[2019-04-19 14:43] KennethSweezy commented on #56
Not yet. Feel free to write something up for it. Just let me read over it
before it is posted.

On Fri, Apr 19, 2019, 10:33 AM Andreas Törnkvist <notifications@github.com>
wrote:

[2019-04-20 01:08] IamTregsthedev commented on #56
:D

[2019-05-30 01:56] KennethSweezy commented on #65
@Andreto I apologize for not responding to this sooner. But in the Cloudflare configurations, I can set the site to automatically redirect to a specific subdomain if a person is accessing the site from mobile. The only issue is having to basically have a separate repository for the mobile site that is almost exactly the same.

[2019-05-30 05:29] Andreto commented on #65
I think how it is now works pretty good and detects most phones. To have one more repo to update would make as lot of extra work. Also I was finished with this feature I just forgot to close this issue, so if we're not going to use cloudflare I will close this.

[2019-05-30 21:03] KennethSweezy commented on #65
Since you already have a solution in place I think I will close it.

Thank you for your continued dedication to this project.

[2019-05-30 21:03] #65 closed

[2019-06-07 00:24] rdgutierrez commented on #53
I can help with spanish

[2019-06-07 00:46] KennethSweezy commented on #53
Ok! First, what is your Transifex username? (If you don't have an account
with Transifex, an email address is fine) Second, what dialect of Spanish
do you want me to select? (The options are: Argentinian Spanish, Latin
American Spanish, Mexican Spanish, European Spanish (Spain), or United
States Spanish)

On Thu, Jun 6, 2019, 8:24 PM Ruben Dario Gutierrez Sanchez <
notifications@github.com> wrote:

[2019-06-09 09:15] saarahasad commented on #53
I can translate to Arabic and Hindi. Is that needed

[2019-06-09 14:06] KennethSweezy commented on #53
Yes! That would be great! What is your Transifex username?

On Sun, Jun 9, 2019, 5:15 AM Saarah Asad <notifications@github.com> wrote:

[2019-06-11 22:04] KennethSweezy commented on #53
@rdgutierrez @saarahasad All I need is your Transifex username or an email address and I will get you set up for translation.

[2019-06-29 19:49] KennethSweezy commented on #53
@rdgutierrez @saarahasad Are you still wishing to contribute to this project?

[2019-07-07 05:21] IamTregsthedev opened #69 "Fixing Darkmode"
@IamTregsthedev I agree it looks pretty bad. Especially things like Gobo, inputs (like @Andreto mentioned), and the GitHub Link in the top corner.

_Originally posted by @KennethSweezy in https://github.com/ScratchUtilities/gobo.cf/pull/66#issuecomment-506982632_

----

Yes I know, I'm fix this when I'm free, Don't have good wifi at the moment on vaction

[2019-08-07 01:55] #32 closed

[2019-08-07 01:57] KennethSweezy opened #70 "Improvements by using Cloudflare serverless workers"
I am currently testing a method of making the service quicker by using Cloudflare serverless workers.

If this works could it be called v2?

cc @Andreto

[2019-08-07 16:01] Andreto commented on #70
It could be v2 for sure.
How is the stats btw? Do we have users and are links being shortened.

[2019-08-07 16:04] KennethSweezy commented on #70
Yes. We do have users, its something like 50 visits a day. But CloudFlare's
analytics aren't very detailed.

On Wed, Aug 7, 2019, 12:01 PM Andreas Törnkvist <notifications@github.com>
wrote:

[2019-08-07 21:44] KennethSweezy commented on #70
@Andreto But with Google Analytics it is something like 6-15 visitors a day. All of them are direct users (not referred to by another website). And it doesn't allow me to view detailed stats for the base domain because it only redirects.

[2019-09-06 01:05] chexbox commented on #69
Using css variables might work for custom colors. I know @infinitytec has used them in the past for themes.

[2019-10-02 13:17] KennethSweezy commented on #53
I am going to create a new issue for translations.

[2019-10-02 13:17] #53 closed

[2019-10-02 14:55] KennethSweezy opened #71 "Help Out with Translation"
Currently, we are trying to allow this project to be used by more and more people. To do that we need translators!

If you would like to help translate Gobo.cf into other languages follow the bellow checklist:
- Be fluent in English and at least one other language.
- Have a Transifex account (create an account [here](http://transifex.com/signup))

Languages that have been translated into:
- French

[2019-10-02 15:00] KennethSweezy commented on #71
@ScratchUtilities/translators Please go back to the Transifex project and make sure that all translations are correct and up to date.

[2019-10-02 15:36] jsedano commented on #71
Hey I would like to help with Spanish
Transifex user: jsedano

[2019-10-02 15:47] Andreto commented on #71
Updated Swedish(sv)

[2019-10-02 16:48] KennethSweezy commented on #71
@jsedano Okay! I have added you to the Transifex project. I tried to translate the project myself with my very limited knowledge of the Spanish language. Make any changes that you need.

[2019-10-02 17:13] FarzanHosseini commented on #71
Hey I can help on Persian(Farsi) language
Transfix Username: Farzan

[2019-10-02 17:15] KennethSweezy commented on #71
@FarzanHosseini Okay! I have added you to the Transifex project.

[2019-10-02 18:11] jsedano commented on #71
Hey @KennethSweezy I just finished with the Strings in Spanish, should I mark them as reviewed and open a PR or something ?

[2019-10-02 18:13] KennethSweezy commented on #71
You can just mark them as reviewed in Transifex if they look correct.

[2019-10-02 20:02] brunopulis commented on #71
Hey I would like to help with Brazilian Portuguese
Transifex user: brunopulis

[2019-10-03 00:18] KennethSweezy commented on #71
@brunopulis Okay! I have added the ability to translate into Brazilian Portuguese and invited you to the project. Good luck with your translations!

[2019-10-03 09:29] yanicka commented on #71
I would like to translate it into Russian and/or Ukrainian. My username is yanicka

[2019-10-03 14:10] KennethSweezy commented on #71
@yanicka Thank you for your willingness to contribute! I have invited you to the Transifex project so that you can translate the project into Russian and Ukrainian.

[2019-10-03 14:31] KennethSweezy commented on #71
@all-contributors please add @locness3 for translation
@all-contributors please add @Andreto for translation
@all-contributors please add @M-S-72 for translation
@all-contributors please add @Smilingouido for translation
@all-contributors please add @FarzanHosseini for translation
@all-contributors please add @jsedano for translation
@all-contributors please add @brunopulis for translation

[2019-10-03 14:32] KennethSweezy commented on #71
@all-contributors please add @locness3 for translation

[2019-10-03 14:32] KennethSweezy commented on #71
@all-contributors please add @Andreto for translation

[2019-10-03 14:34] KennethSweezy commented on #71
@all-contributors please add @M-S-72, @Smilingouido, @FarzanHosseini, @jsedano, @brunopulis for translation

[2019-10-03 14:35] KennethSweezy commented on #71
@all-contributors please add @M-S-72 @Smilingouido @FarzanHosseini @jsedano @brunopulis for translation

[2019-10-03 14:35] KennethSweezy commented on #71
@all-contributors please add @Smilingouido for translation

[2019-10-03 14:50] KennethSweezy commented on #71
@all-contributors please add @FarzanHosseini for translation

[2019-10-03 14:50] KennethSweezy commented on #71
@all-contributors please add @jsedano for translation

[2019-10-03 14:50] KennethSweezy commented on #71
@all-contributors please add @brunopulis for translation

[2019-10-05 09:00] imbdb commented on #71
Language: Hindi
Transifex username: imbdb

[2019-10-05 18:39] KennethSweezy commented on #71
@imbdb Okay! I have added you to the project for translation to Hindi. Thank you in advance.

[2019-10-05 18:40] KennethSweezy commented on #71
@locness3 Could you update the translations for French?

@M-S-72 @Smilingouido Can you update the translations for German?

[2019-10-05 20:35] mantasio commented on #71
Hey, I can help with Lithuanian translations. Transifex username: mantasio

[2019-10-05 21:14] ChingChang9 commented on #71
I would love to help to translate this to Traditional Chinese if you guys need it.

[2019-10-05 21:21] KennethSweezy commented on #71
@mantasio Okay! You have been added to the project. Good luck.

[2019-10-06 12:08] locness3 commented on #71
Yes!

[2019-10-06 12:14] locness3 commented on #71
Please use my suggestion for "shorten URL ->"

[2019-10-06 14:30] KennethSweezy commented on #71
@locness3 Thanks for the updates. I have now used your suggestions for all strings.

[2019-10-06 16:10] Smilingouido commented on #71
@KennethSweezy I'll do that in the next days.

[2019-10-06 16:28] KennethSweezy commented on #71
@Smilingouido Ok, thank you.

[2019-10-06 16:28] Smilingouido commented on #71
No Problem...

Samuel Bittrich

Am 06.10.2019 um 18:28 schrieb Kenneth Blake Sweezy <notifications@github.com<mailto:notifications@github.com>>:

@Smilingouido<https://eur04.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FSmilingouido&data=02%7C01%7C%7C86f62c46452e4b098f8d08d74a7a2acf%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C637059760864400594&sdata=GrBzlFq7qdjBOJ%2BfE64bYeD6w

[2019-10-06 16:30] Smilingouido commented on #71
@KennethSweezy No problem.

[2019-10-07 17:26] pjgeutjens commented on #71
I could help out with Dutch translation
transifex username: pjgeutjens

[2019-10-07 22:25] KennethSweezy commented on #71
@pjgeutjens Okay! I have added you to the project! Good luck!

[2019-10-11 18:47] ICTman1076 opened #84 "gobo.cf redirects to a website that is not safe for work"
**Describe the bug**
Title says it all. For the target audience of this website, this is a big problem.

**To Reproduce**
1. Go to `gobo.cf`
2. Quickly close the tab before someone else sees

**Expected behavior**
To see the real gobo.cf site

**Additional context**
iirc .cf is a freenom domain. If you got it for free, chances are you surpassed your visitor limit (yes there is one, no they don't m

[2019-10-11 18:52] ICTman1076 commented on #84
If you need something free to replace it, https://freedns.afraid.org can be quite good. Can't use cloudflare on it though - just A records.

[2019-10-11 23:08] brunopulis commented on #84
Same issue here.

[2019-10-12 19:23] AdityaFRC commented on #71
I cam help out with German, Hindi, and Marathi translation.
transifex username: AdiPat

[2019-10-13 09:45] Ph1lbert commented on #71
username: Ph1lbert
lang : greek

[2019-10-14 15:28] Seihla commented on #71
Hi, I can help a bit with translating into Khmer (Cambodian)
Username: IsaiahSeihla

[2019-10-14 17:09] NotRealPaz commented on #71
username: NotRealPaz
Thai Translation

[2019-10-14 18:13] KennethSweezy commented on #71
@AdityaFRC @Ph1lbert @Seihla @NotRealPaz I have added all of you to the languages that you requested.

Good luck with your translations!

[2019-10-14 18:46] NotRealPaz commented on #71
@KennethSweezy I want to preview my translation but can't due to this issue #84

[2019-10-14 18:56] KennethSweezy commented on #84
Yes, this is currently a big issue. I am attempting to work with Freenom on this issue.

[2019-10-14 18:59] ICTman1076 commented on #84
Wish ya the best of luck.

I'd like to suggest a couple of things:
[ ] Updating the README to tell people not to visit gobo.cf
[ ] Changing it so that the github.io page doesn't redirect to gobo.cf (maybe even works in place of it)

[2019-10-14 19:00] KennethSweezy commented on #84
@ICTman1076 If you would like to get a PR for Hacktoberfest I will accept it.

[2019-10-14 19:05] KennethSweezy commented on #69
@IamTregsthedev Have you made any progress on this issue?

[2019-10-15 14:53] IamTregsthedev commented on #69
No, Sorry I've been Busy with school.

I try this week

[2019-10-15 15:30] IamTregsthedev commented on #84
I have fixed this promblem for the time being both in the master repo and made a clone

https://gobo.glitch.me/home/

The glitch works, as the same as this repo, also has all the translations

[2019-10-15 15:32] IamTregsthedev commented on #84
I have just noticed that it was already done, but the website seems to be having some promblems with the images.

The Glitch Site works perfecly fine, and it would be nice if we used for now. We can have custom domains onn Glitch.me

[2019-10-16 06:34] munex-com commented on #71
Hi, I could help out with Japanese translation.
Transifex username: munex_com

[2019-10-16 07:01] cracknutmeg commented on #71
Transifex username : cracknut
Language : Hindi

[2019-10-16 12:30] KennethSweezy commented on #71
@munex-com @cracknutmeg I have added both of you to the languages that you have requested.

[2019-10-17 16:48] Smollet777 opened #90 "Russian one-letter translation of "about" is confusing."
Russian one-letter translation of "about" is confusing. I suggest a common option "О нас"(about us)

[2019-10-17 16:53] Smollet777 commented on #71
There is a typo on about page in russian. There is "Gobo.cf - это сократите**с**ь". Should be "Gobo.cf - это сократите**л**ь".

[2019-10-19 16:56] haidarrifki commented on #71
hey, I want to help with Indonesian (bahasa)
Transifex username: haidarrifki

[2019-10-21 14:40] KennethSweezy commented on #71
@haidarrifki I have added you to the Transifex project.

@Smollet777 I have made the correction.

[2019-10-26 14:47] backciro commented on #71
Hello I think that I could help for the Italian (it-IT) translation.
My transifex id is: @mntmtt

Regards :)

[2019-10-27 22:01] teegr commented on #71
Hi , I can work on Armenian translation

transifex id : teegrik

[2019-10-28 15:18] KennethSweezy commented on #69
I am going to close this issue since it is stale.

[2019-10-28 15:18] #69 closed

[2019-10-30 11:08] yecicen commented on #71
Hi, I can translate to Turkish.
Transifex user: yecicen

[2019-10-31 11:14] rakeshlanjewarwork commented on #71
Hi , I can work on Marathi (India) translation

transifex id : rakeshlanjewar

[2019-11-23 03:52] IamTregsthedev commented on #69
I'm sorry, I've been really busy, and I promise for sure a slove by the next 2 weeks,

[2019-11-26 15:30] DeleteThisAcount opened #94 "Support for scratch.org domain"
**Is your feature request related to a problem? Please describe.**
using a url like scratch.org/users/kaj does not work

**Describe the solution you'd like**
Support scratch.org

**Describe alternatives you've considered**
Don't

**Additional context**
Scratch.org urls are scratch's own sorta url shortners, so being able to type in a url like that (into the url to be shortned feild) saves time.

[2019-12-06 22:14] IamTregsthedev commented on #94
I have Tested the Scratch.org, And Indeed It is Scr5atch's own Link Shronter,  I will Try to Make scratch.org Domains work. Expect it finsihed by Jan or Feb Though.

[2019-12-07 07:46] DeleteThisAcount opened #97 "Premium Domain"
Currently gobo.cf is not really what people want to see. That's probably because it's a cheap/free domain, freenom likes to give away domains for the highest bidder.

This might sound crazy, but possibly renaming gobo.cf to something with a premium domain?

There are some great ones on google domains (not available everywhere), but gobo.army sounds amazing to me.

Gobo.fyi is nice
Gobo.dev is grea

[2019-12-09 14:49] KennethSweezy commented on #97
While I do agree that we should switch domains, I would much prefer a two-letter TLD (.us, .co, .cc, etc) instead of a three- or four-letter TLD (.com, .dev, .fyi, .army, etc).

[2019-12-09 17:27] KennethSweezy commented on #97
I can try and get us one of the ones on [this list](https://opendomain.org/free-domains/). I would like to see which one everyone prefers first though.

cc @Andreto

[2019-12-10 04:26] chexbox commented on #97
gobo.co might be good. I really don't know at this point, though.

[2019-12-11 14:59] KennethSweezy commented on #97
I will update the list of possible options in this comment:
Below are through internet.bs:
- gobo.li
- gobo.tf
- gobo.re
- gobo.pm
- gobo.yt
- gobo.wf
- gobo.vg

[2019-12-15 07:39] DeleteThisAcount commented on #97
gobo.pm sounds nice, gobo.co sounds cool aswell

[2019-12-19 19:28] DeleteThisAcount commented on #84
glitch has to wake up sometimes, making this even slower then just visiting the page anyways.

[2019-12-20 07:12] ICTman1076 commented on #84
We can have custom domain on GitHub too, but that's no use since it appears that the maintainers have lost access to gobo.cf altogether

[2019-12-24 06:16] IamTregsthedev commented on #84
I know. I've been Thinking about switching our site to glitch, I'm not sure why. We need the domain back or Something Shorter.

We could use a Another Scratch Spirte Name like Tera Maybe?

@KennethSweezy  Have you emailed or contancted Freenom? I feel it might into the best insterest of finding a new domain or either Purchasing a Domain.

[2019-12-24 06:18] IamTregsthedev commented on #97
Sounds nice, Although Something like gobo.vg gobo.pm gobo.il would work

[2019-12-24 06:20] IamTregsthedev commented on #94
I'm closing this for the momment because I feel That It's not nessceary at the Mooment Because It Works as scratch Own Link Shortner. Our Service is to Shroten Long scratch Links, Supporting Scratch,org Doesn't make much Sense, I will try to make it work But For the Time being I will be closing this Issue.

[2019-12-24 06:23] IamTregsthedev commented on #84
I didn't know about that. Glitch Doesn't seem to slow or wake up slowly sometimes.
 In #97, We're looking for a new Domain, I think Glitch Isn't a option. I forked the repo Once Again Just in case.

[2019-12-24 06:26] IamTregsthedev commented on #97
gobo.tk | Not available
gobo.ml | Not available
gobo.ga | Not available
gobo.cf | Not available
gobo.gq | Not available

They've also Removed all the Free Extestions for Gobo. Either Someone Took from us or Freenom Cheated us out.

They Have a Vistor limit, Freenom Just Seems Dirty a Bit. It kinda makes sense, You're getting  fre domain. .tk Domains on Godadday sell like for $2-6 Dollers or more o

[2019-12-24 06:27] IamTregsthedev commented on #97
Gobo.wf and .tf sounds nice

[2019-12-24 10:48] ICTman1076 commented on #97
If we're buying a new domain I suggest you look at https://tld-list.com for the best prices, however I do not recommend OVH (their customer support is terrible and they have problems frequently)

[2019-12-24 10:50] ICTman1076 commented on #97
You should then also look at [afraid.org](https://freedns.afraid.org) - they have LOADS of domains you can use

[2019-12-24 10:51] ICTman1076 commented on #90
Take a look at #71 :)

[2020-01-30 15:39] #90 closed

[2020-04-03 04:09] IamTregsthedev opened #99 "Zeit Test Failing"
**Describe the bug**
Zeit Is Failing Test Because The Domain gobo.cf Doesn't Belong Anymore.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Readme.md
2. Add a Change
3. Commit it

**Expected behavior**
Zeit Should Pass the test, But Because the domain Doesn;t exist it can't

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Can you create a fix?**
@Kennet

[2020-04-10 11:01] locness3 opened #100 "Transifex is broken"
Hi! It seems like there isn't an active Transifex plan for the organization, when I try to do anything I get errors like these :
![Screen Shot 2020-04-10 at 13 00 17](https://user-images.githubusercontent.com/37651007/78986323-56e6d500-7b2b-11ea-836b-93449bc52952.png)
![Screen Shot 2020-04-10 at 13 00 44](https://user-images.githubusercontent.com/37651007/78986334-5b12f280-7b2b-11ea-8e59-572632071

[2020-04-10 13:14] KennethSweezy commented on #100
This is because the plan we are on, there are a maximum of ten translators
in the project. I had to manually cycle translators for when they wanted to
translate. If you would like to work on tranlations I can rotate some
people out.

On Fri, Apr 10, 2020, 7:01 AM Locness <notifications@github.com> wrote:

[2020-04-10 13:16] locness3 commented on #100
No, thanks. But whaty plan are you using ? the open-source one?

[2020-04-10 13:18] KennethSweezy commented on #100
I am using the one that Transifex provides in the GitHub education pack. I
can't remember exactly what plan it is though.

On Fri, Apr 10, 2020, 9:16 AM Locness <notifications@github.com> wrote:

[2020-04-10 13:21] locness3 commented on #100
I guess it's the starter one.

[2020-04-21 15:23] R4356th commented on #71
I can translate to Bengali. I have a Transifex account and I am also a Scratch Translator.

[2020-04-21 15:23] R4356th commented on #71
Transifex id: R4356th

[2020-04-22 13:02] R4356th commented on #71
@KennethSweezy , is translating plan put down?

[2020-04-24 11:12] KennethSweezy commented on #71
Since the project has been unable to be usable for a while. I am going to close this issue for now.

Thank You to all of the contributors and prospective contributors.

[2020-04-24 11:12] #71 closed

[2020-05-25 17:48] KennethSweezy commented on #97
# New Domain
I have acquired ``gobo.icu`` for the project. This has lead to the renaming of the project from ``gobo.cf`` to ``gobo.icu``.

@ScratchUtilities/core-devs @chexbox @IamTregsthedev @DeleteThisAcount @ICTman1076

[2020-05-25 17:48] #97 closed

[2020-05-25 17:49] KennethSweezy commented on #84
Closed
See [#97](https://github.com/ScratchUtilities/gobo.icu/issues/97#issuecomment-633666742) for details.

[2020-05-25 17:49] #84 closed

[2020-05-25 18:31] KennethSweezy commented on #100
Considering that the project has been translated into 15 languages (plus English) I am going to discontinue the translation portion of this project. The total number of people on Earth that could comfortably read and use Gobo.icu is almost **4 billion**. There are some gaps in our translations (we don't have translations for Mandarin) but we do have translations for 4 of the 5 most spoken language

[2020-05-25 18:31] #100 closed

[2020-05-25 19:08] IamTregsthedev commented on #97
Great, why icu?

[2020-05-25 19:09] KennethSweezy commented on #97
@IamTregsthedev It was one of the only domains that had gobo available that provided Whois privacy.

[2020-05-26 06:19] locness3 commented on #100
wait, it's gobo.icu now?

[2020-05-26 06:20] KennethSweezy commented on #100
Yes.

On Tue, May 26, 2020, 2:19 AM Locness <notifications@github.com> wrote:

[2020-05-26 13:06] JeffaloBob commented on #97
![image](https://user-images.githubusercontent.com/40470736/82904093-41eec580-9f62-11ea-99ff-5cf50faa19de.png)

[2020-09-02 14:54] sweezyio opened #101 "Notice of Removal of Iamtregsthedev from the organization"
I know this isn't the best place to put this but I wanted this to be publicly documented.

Hello @IamTregsthedev,
I have decided to remove you from the Scratch Utilities organization. This is for several reasons that I will list below.
- 8 of your 17 commits to gobo.icu have been adding your name to the lists of contributors.
      - In fact, your first commit to this repository was adding your na

[2020-09-02 14:54] #101 closed, assigned to nobody

[2020-09-02 15:51] radioblahaj commented on #101
Hey there,

Please do not remove me from this project. I have been very busy with personal projects over the last couple months.

I agree, I haven't done much here. But I'm just getting started, please give me a month, i can show my worth.

The grammer errors, are something that I have improved on over the last couple months as well.

[2020-09-02 15:51] radioblahaj commented on #101
Give me a month and I'll be able to finish this.

[2020-09-02 22:02] sweezyio commented on #101
I stand by my decision. In the past 1.5 years, you have only made 17 commits, 8 of which were adding your name to the list of contributors. If you were so busy with personal projects, then you shouldn't have said that you were going to work on features for this project. On numerous occasions, you said that a feature would be complete within a few days, and none of them were ever complete.

I am so

[2020-09-03 18:21] radioblahaj commented on #101
Dude please, I can beheld.ive been very busy over the last cohple mo yhs. Give me one more chance to me please

[2020-09-03 18:21] radioblahaj commented on #101
If you don't its okay thanks for having me here

[2020-09-27 17:47] radioblahaj commented on #94
I am Reopening this isssue, as I have just started working on it again. This Patch will fix a lot of new bugs, Add Scratch.org Support, and Fix some of the Contrubiters list. This is a work-in-progress Request.

[2020-10-08 16:08] retronbv commented on #70
@KennethSweezy is your free domians thing still going on?

Name of Project: retronbv
What is the purpose of your project: personal portfolio, that will eventually have projects on it
Who is/are the owner(s) of the project: me
What is the current web address for the project: profile.retronbv.repl.co
Notes: could i have retronbv.xyz?

(From scratch)

[2020-10-08 16:36] sweezyio commented on #70
Unfortunately, I am no longer providing this service.

[2020-10-08 16:43] retronbv commented on #70
Awww ok